@model List<ALBINGIA.OP.OP_MVC.Models.ModelesQuittances.VentilationDetailleeRegime>
@{
    foreach (var regime in Model)
    {
    <tr>
        <td class="col_VentDetailColumn ">@regime.RegimeTaxe
        </td>
        <td class="col_VentDetailColumn ">@regime.FamilleTaxe
        </td>                          
        <td class="col_VentDetailSmallColumn ">@regime.Taux
        </td>                        
        <td class="col_VentDetailSmallColumn ">@regime.BaseTaxable
        </td>                          
        <td class="col_VentDetailSmallColumn ">@regime.MontantTaxes
        </td>
    </tr>        
    }
}
