@model ALBINGIA.OP.OP_MVC.Models.ModelesValidationOffre.ModeleEditionDocuments
@using ALBINGIA.Framework.Common.Constants

@if (Model.TypeAffaire == AlbConstantesMetiers.TYPE_CONTRAT) {

    /**/
<div class="FloatLeft">

    @if (Model.TraceEmiss == "O" || Model.TraceEmissRegule == "O") {

        /**/
<div class="FloatLeft" style="width: 300px; color: red; padding-bottom: 5px;">
    <font style="color: red; font-size: 20px;">@(Model.TraceEmissRegule == "O" ? "*" : string.Empty)</font>Les cotisations ci-dessous ne seront pas émises.

</div>
}
    <div style="clear: both;">
        @if (Model.ActeGestion == AlbConstantesMetiers.TYPE_AVENANT_REGULMODIF || Model.ActeGestion == AlbConstantesMetiers.TYPE_AVENANT_REGUL) {

            /**/
<table id="tblHeaderCotisationVisu" class="trHeight">
    <tr>
        <th class="tablePersoHead" style="width: 142px;">Acte de gestion</th>
        <th class="tablePersoHead" style="width: 48px;">Part Albingia</th>
        <th class="tablePersoHead" style="width: 62px;">Cotis. HT</th>
        <th class="tablePersoHead" style="width: 62px;">dont CN</th>
        <th class="tablePersoHead" style="width: 62px;">Cotis. TTC</th>
    </tr>
</table>
                    <table id="tblDetailsBodyCotisationVisu" class="trHeight ">
                        @if (Model.CotAlbTTC != 0) {

                            /**/
    <tr>
        <td style="width: 140px; padding-left: 5px;">
            Avenant de modification<font style="color: red; font-size: 20px;">@(Model.TraceEmiss == "O" ? "*" : string.Empty)</font>
        </td>
        <td style="width: 50px; text-align: center;">
            100%
        </td>
        <td class="" style="@(Model.TraceEmiss == "O" ? "width: 60px; padding-right: 5px; text-align: right; font-style: italic;" : "width: 60px; padding-right: 5px; text-align: right;")">
            <span albmask="decimal">@Model.CotAlbHT</span>
        </td>
        <td class="colBodyCotiDontCN" style="@(Model.TraceEmiss == "O" ? "width: 60px; padding-right: 5px; text-align: right; font-style: italic;" : "width: 60px; padding-right: 5px; text-align: right;")">
            <span albmask="decimal">@Model.CotAlbCatNat</span>
        </td>
        <td class="colBodyCotiTTC" style="@(Model.TraceEmiss == "O" ? "width: 60px; padding-right: 5px; text-align: right; font-style: italic;" : "width: 60px; padding-right: 5px; text-align: right;")">
            <span albmask="decimal">@Model.CotAlbTTC</span>
        </td>
    </tr>
}
                        @if (Model.CotReguleTTC != 0) {

                            /**/
    <tr>
        <td style="width: 140px; padding-left: 5px;">
            Régularisation @(Model.RegulMode == "PB" ? "PB" : (Model.RegulMode == "BNS" ? "BNS" : ""))<font style="color: red; font-size: 20px;">@(Model.TraceEmissRegule == "O" ? "*" : string.Empty)</font>
        </td>
        <td style="width: 50px; text-align: center;">
            100%
        </td>
        <td class="" style="@(Model.TraceEmissRegule == "O" ? "width: 60px; padding-right: 5px; text-align: right; font-style: italic;" : "width: 60px; padding-right: 5px; text-align: right;")">
            <span albmask="decimal">@Model.CotReguleHT</span>
        </td>
        <td class="" style="@(Model.TraceEmissRegule == "O" ? "width: 60px; padding-right: 5px; text-align: right; font-style: italic;" : "width: 60px; padding-right: 5px; text-align: right;")">
            <span albmask="decimal">@Model.CotReguleCatNat</span>
        </td>
        <td class="" style="@(Model.TraceEmissRegule == "O" ? "width: 60px; padding-right: 5px; text-align: right; font-style: italic;" : "width: 60px; padding-right: 5px; text-align: right;")">
            <span albmask="decimal">@Model.CotReguleTTC</span>
        </td>
    </tr>
}
                    </table>
                }
                else if (Model.ActeGestion != AlbConstantesMetiers.TYPE_ATTESTATION) {

                    /**/
<table id="tblHeaderCotisationVisu" class="trHeight ">
    <tr>
        <td class="colHeaderCoti"></td>
        <td class="tablePersoHead colHeaderCotiHT">
            Coti. HT
        </td>
        <td class="tablePersoHead colHeaderCotiDontCN">
            dont CN
        </td>
        <td class="tablePersoHead colHeaderCotiTTC">
            Coti. TTC
        </td>
    </tr>
</table>
                    /**/
<table id="tblDetailsBodyCotisationVisu" class="trHeight ">
    <tr>
        <td class="colBodyCoti">
            100%
        </td>
        <td class="colBodyCotiHT" style="@(Model.TraceEmiss == "O" ? "text-align: right; font-style: italic;" : "text-align: right;")">
            <span albmask="decimal">@Model.Cot100HTAvecCatNat</span>
        </td>
        <td class="colBodyCotiDontCN" style="@(Model.TraceEmiss == "O" ? "text-align: right; font-style: italic;" : "text-align: right;")">
            <span albmask="decimal">@Model.Cot100CatNat</span>
        </td>
        <td class="colBodyCotiTTC" style="@(Model.TraceEmiss == "O" ? "text-align: right; font-style: italic;" : "text-align: right;")">
            <span albmask="decimal">@Model.Cot100TTC</span>
        </td>
    </tr>
    <tr>
        <td class="colBodyCoti">
            part Albingia
        </td>
        <td class="colBodyCotiHT" style="@(Model.TraceEmiss == "O" ? "text-align: right; font-style: italic;" : "text-align: right;")">
            <span albmask="decimal">@Model.CotAlbHT</span>
        </td>
        <td class="colBodyCotiDontCN" style="@(Model.TraceEmiss == "O" ? "text-align: right; font-style: italic;" : "text-align: right;")">
            <span albmask="decimal">@Model.CotAlbCatNat</span>
        </td>
        <td class="colBodyCotiTTC" style="@(Model.TraceEmiss == "O" ? "text-align: right; font-style: italic;" : "text-align: right;")">
            <span albmask="decimal">@Model.CotAlbTTC</span>
        </td>
    </tr>
</table>
}
    </div>
</div>
}
