@model ALBINGIA.OP.OP_MVC.Models.ModelesPages.ModeleParamDocumentCheminPage
@AlbAddCssJsScripts.AlbAddCssToViews(new UrlHelper(ViewContext.RequestContext), new string[] { "vParamDocumentChemin.css" }, "~/Content/")
@AlbAddCssJsScripts.AlbAddJsToViews(new UrlHelper(ViewContext.RequestContext), new string[] { "albParamDocumentChemin.js" }, "~/Scripts/AlbingiaJS/")
@{
    Layout = "~/Views/Shared/LayoutHeader/LayoutMenu.cshtml";
}
<div class="FullWidth">
    @Html.HiddenNoName("defaultServeurURL", ALBINGIA.OP.OP_MVC.MvcApplication.URL_STOCKAGE_DOCUMENT_SERVEUR)
    @Html.HiddenNoName("defaultRacineURL", ALBINGIA.OP.OP_MVC.MvcApplication.URL_STOCKAGE_DOCUMENT_RACINE)
    <div>
        @Html.Partial("~/Views/Shared/LayoutArbres/LayoutArbreBackOffice.cshtml")
    </div>
    <div class="CommonForm FloatLeft WidthBackOffice">
        <div id="contenu">
            <div class="CommonForm FloatLeft WidthBackOffice">
                <div class="GroupFull GroupWithBorder WidthDivChemin GroupHeightNomenclatureFixe GroupBackOffice" style="margin-right: 12px;">
                    <div class="HorizontalHalfWithGroupAdmin GroupHeightCiblesInterieur">
                        <div class="GradientSection">
                            <div id="divLstChemins">
                                <div>
                                    <table id="tblCheminsHeader">
                                        <tr>
                                            <th class="col_identifiant tablePersoHead">Identifiant
                                            </th>
                                            <th class="col_designation tablePersoHead">Désignation
                                            </th>
                                            <th class="col_chemin tablePersoHead">Chemin
                                            </th>
                                            <th class="col_Action tablePersoHead">
                                                <img class="CursorPointer Action" src="@Url.Content("/Content/Images/plusajouter1616.png")" alt="Ajouter" title="Ajouter" id="btnAjouterChemin" />
                                            </th>
                                        </tr>
                                    </table>
                                </div>
                                <div id="divBodyChemins" class="divHeight">
                                    @if (Model.ListeChemins != null)
                                    {
                                        @Html.Partial("ListeChemins", Model.ListeChemins)
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="VoletDetail" class="GroupFull GroupWithBorder WidthConsultNomenclature GroupHeightNomenclatureFixe FloatLeft GroupBackOffice" style="display: none">
                    <div id="divCheminDetails">
                    </div>
                </div>
                <div class="GroupButton GroupFull GroupWithBorder ButtonsHeight TotalWidth">
                    <div class="ActionButtons ActionButtonLeft">
                    </div>
                    <div id="LoadingDiv" class="FloatLeft">
                        <img src="/Content/Images/ajax-loader.gif" alt="" />
                    </div>
                    <div class="ActionButtons ActionButtonRight">
                        <input type="button" id="btnCancel" value="Retour" tabindex="29" onclick="Javascript: Annuler();" />
                    </div>
                </div>
            </div>
        </div>@*fin contenu*@
    </div>
</div>
