@model ALBINGIA.OP.OP_MVC.Models.ModeleStatisque.StatOffreContratModel

<tr>
    <td title="@Model.Num" >@Model.Num</td>
    <td title="@Model.Version" class="smallcol">@Model.Version</td>
    <td title="@Model.Type" class="smallcol">@Model.Type</td>
    <td title="@Model.Reference">@Model.Reference</td>
    <td title="@Model.Gestionnaire">@Model.Gestionnaire</td>
    <td title="@Model.Souscripteur">@Model.Souscripteur</td>
    <td title="@Model.Branche">@Model.Branche</td>
    <td title="@Model.Cible">@Model.Cible</td>
</tr>
