@model List<ALBINGIA.OP.OP_MVC.Models.Regularisation.ModeleCreationRegulGar.PerioderegulGarantie>

<div id="divPeriodRegulHeader" style="text-align: center;">
    <table id="tbldivPeriodRegulHeader" class=" divTableG trHeight ">
        <tr>
            <th class="col_HeaderPeriode tablePersoHeader">Période à régulariser
            </th>
            <th class=" col_HeaderAssiette tablePersoHeader">Assiette
            </th>
            <th class=" col_HeaderForfait tablePersoHeader">Taux / Forfait
            </th>
            <th class="col_HeaderMontant tablePersoHeader">Montant de la régularisation HT HCN
            </th>
            <th id="btnAjouterPeriodregul" class="tablePersoHeader col_HeaderImg CursorPointer" title="Ajouter une période de régularisation du risque">
                <img   src="@Url.Content("/Content/Images/plusajouter1616.png")" />
            </th>
        </tr>
    </table>
</div>
<div id="divPeriodRegul">
    <table id="tblPeriodRegulBody" class="trHeight">
        @{
            foreach (var PeriodRegulInfo in Model)
            {
            <tr>
                <td id="DateDeb_@(PeriodRegulInfo.Code)" albidgar="@(PeriodRegulInfo.idGar)" albcodgar="@(PeriodRegulInfo.codeGar)" albcodeopt ="@(PeriodRegulInfo.codeOpt)" albidregul="@(PeriodRegulInfo.idregul)" albidlot="@(PeriodRegulInfo.idLot)" albcodefor ="@(PeriodRegulInfo.codeFor)" albcodersq ="@(PeriodRegulInfo.codeRsq)" alblibgar ="@(PeriodRegulInfo.libGar)" name ="LinkRegulGar" class=" col_titre_detailsTotaux TxtLink CursorPointer col_TdPeriodeRegul ">@PeriodRegulInfo.PeriodeRegulDebStr</td>
                <td class="col_TdPeriodeRegul CursorPointer">@PeriodRegulInfo.PeriodeRegulFinStr</td>
                <td class="col_TdAssietteRegul CursorPointer ">
                    <span albmask="decimal"  title="@PeriodRegulInfo.AssietteValeur">@PeriodRegulInfo.AssietteValeur </span></td>
                <td class="col_TdTauxForfaitRegul CursorPointer">
                    <span albmask="pourcentdecimal">@PeriodRegulInfo.TauxForfaitHTValeur  </span>
                </td>
                <td class="col_TdTauxForfaitRegul CursorPointer ">@PeriodRegulInfo.TauxForfaitHTUnite </td>
                <td class="col_TdMontantRegulHF CursorPointer">
                    <span albMask="decimal"  title="@PeriodRegulInfo.MontantRegulHF">@PeriodRegulInfo.MontantRegulHF </span></td>
                <td class="col_Buttons col_TdImg CursorPointer">
                    @*<img  id="SavePeriodRegul" name="SavePeriodRegul"  title="Enregistrer" alt="Enregistrer" class="CursorPointer" src="@Url.Content("/Content/Images/Save_16.png")" />*@
                    <img  id="SuppPeriodRegul" albregulecode="@(PeriodRegulInfo.Code)" src="@Url.Content("/Content/Images/poubelle1616.png")" />
                </td>
            </tr>

            }}
    </table>
</div>


