@model ALBINGIA.OP.OP_MVC.Models.ModelesPages.ModeleParamTemplateNomenclaturePage
@AlbAddCssJsScripts.AlbAddCssToViews(new UrlHelper(ViewContext.RequestContext), new string[] { "vParamTemplateNomenclature.css" }, "~/Content/")
@AlbAddCssJsScripts.AlbAddJsToViews(new UrlHelper(ViewContext.RequestContext), new string[] { "albParamTemplateNomenclature.js" }, "~/Scripts/AlbingiaJS/")
@{
    Layout = "~/Views/Shared/LayoutHeader/LayoutMenu.cshtml";
}
<div class="FullWidth">
    <div>
        @Html.Partial("~/Views/Shared/LayoutArbres/LayoutArbreBackOffice.cshtml")
    </div>
    <div class="CommonForm FloatLeft WidthBackOffice">
        <div id="contenu">
            <div class="CommonForm FloatLeft WidthBackOffice">
                <div class="GroupFull GroupWithBorder GroupBackOffice ">
                    <div class="HorizontalHalfWithGroupAdmin ">
                        <div class="GradientSection">
                            <div class="HeightRow">
                            @*    <div class="FloatLeft PaddingLeft10">
                                    <div class="PaddingLeft5">
                                        <label>Code contenant :</label>
                                    </div>
                                    <div class="FloatLeft PaddingLeft5">
                                        <input id="RechercheCode" maxlength="10" albautocomplete="autoCompCodeFiltre" />
                                    </div>
                                </div>*@
                                <div class="FloatLeft PaddingLeft10">
                                    <div class="PaddingLeft5">
                                        <label>Description contenant :</label>
                                    </div>
                                    <div class="FloatLeft PaddingLeft5">
                                        <input id="RechercheDescription" class="searchField" maxlength="60"/>
                                    </div>
                                    <div class="FloatLeft PaddingLeft" id="btnRechercherNomenclature">
                                        <button type="button" id="btnRechercher" albshortcut="true" data-accesskey="r">
                                            <img src="@Url.Content("/Content/Images/loupe1616.png")" alt="Rechercher" title="Rechercher" />
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div class="FloatLeft" id="divLstNomenclatures">
                                <div id="divNomenclaturesHeader">
                                    <table id="tblNomenclaturesHeader">
                                        <tr>
                                            <th class="col_HBrancheNomenclature tablePersoHead">Branche
                                            </th>
                                            <th class="col_HCibleNomenclature tablePersoHead">Cible
                                            </th>
                                              <th class="col_HLibelleNomenclature tablePersoHead">Libellé
                                            </th>
                                            <th class="col_HAction tablePersoHead">                                             
                                                    <img class="CursorPointer" src="@Url.Content("/Content/Images/plusajouter1616.png")" alt="Ajouter" title="Ajouter" id="btnAjouterNomenclature" />                                             
                                            </th>
                                        </tr>
                                    </table>
                                </div>
                                <div id="divNomenclaturesBody" class="divHeight">
                                    @if (Model.ListeNomenclatures != null)
                                    {
                                        @Html.Partial("ListeNomenclatures", Model.ListeNomenclatures)
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="VoletDetails" class="GroupFull GroupWithBorder GroupBackOffice GroupHeight FloatLeft">
                    <div id="divNomenclatureDetails">
                    </div>
                </div>
                <div class="GroupButton GroupFull GroupWithBorder ButtonsHeight ButtonsWidth">
                    <div class="ActionButtons ActionButtonLeft">
                    </div>
                    <div id="LoadingDiv" class="FloatLeft">
                        <img src="/Content/Images/ajax-loader.gif" alt="" />
                    </div>
                    <div class="ActionButtons ActionButtonRight">
                        <button id="btnAnnuler" type="button" albshortcut="true" data-accesskey="t">Re<u>t</u>our</button>
                    </div>
                </div>
            </div>
        </div>@*fin contenu*@
    </div>
</div>
