@model ALBINGIA.OP.OP_MVC.Models.ModelesDocumentGestion.ModifierDocumentModele
<div class="FloatLeft" style="width: auto">
    <div class="GroupFull GroupWithBorder LargeurDetailsDocument">
        <div class="GradientSection MarginLeft10 blkListEnvoi">
            <div id="divSectionSelection" class="FloatLeft">
                @Html.HiddenNoName("IdDocumentEdition", Model.IdDocument)
                @Html.HiddenNoName("selectedIsPrincipal", string.Empty)
                <div class="HeightRow">
                    <div class="FloatLeft">
                        <label class="Block BoldUnderline">Liste d'envoi</label>
                    </div>
                </div>
                <div class="HeightRow">
                    <div class="FloatLeft">
                        <label class="Block">Document*</label>
                    </div>
                    <div class="FloatLeft">
                        @Html.AlbDropDownListFor(m => m.Document, Model.ListeDocuments, "DDLDocument", htmlAttributes: new { @id = "DDLDocument", @class = "inputDDL" }, generateTitle: true, genEmptyLine: true)
                    </div>
                </div>
                <div class="HeightRow">
                    <div class="FloatLeft">
                        <label class="Block">Courrier type*</label>
                    </div>
                    <div class="FloatLeft">
                        @Html.HiddenNoName("INCodeCourrierType", Model.CourrierId)
                        @*@Html.HiddenNoName("INCodeCourrierType", Model.CourrierType)*@
                        <input id="INCourrierType" value="@(!string.IsNullOrEmpty(Model.CourrierCode) ? Model.CourrierCode.Trim() + " - " + Model.CourrierLib : string.Empty)" albAutoComplete="autoCompCourrierType" class="LargeInput"/>
                        @*<input id="INCourrierType" value="@Model.CourrierType" albAutoComplete="autoCompCourrierType" class="LargeInput"/>*@
                    </div>
                    <div class="FloatLeft PaddingLeft">
                        <img src="@Url.Content("/Content/Images/loupe.png")" id="btnRechercherCourrierType"/>
                    </div>
                </div>
            </div>
            <div id="divSectionDestinataires">
                <div class="HeightRow">
                    <div class="FloatLeft">
                        <label class="Block BoldUnderline">Destinataires</label>
                    </div>
                </div>
                <div class="FloatLeft">
                    <div id="divDestinatairesHeader" class="PaddingLeft">
                        <table id="tblDestinatairesHeader" class="trHeight">
                            <tr>
                                @*<th class="tablePersoHead tdHeadIsPrincipal">&nbsp</th>*@
                                <th class="tablePersoHead tdHeadDestinataire" colspan="2">Destinataire                              
                                </th>
                                <th class="tablePersoHead tdHeadDestinataire2" colspan="2"></th>
                                <th class="tablePersoHead tdHeadInterlocuteur">Interlocuteur</th>
                                <th class="tablePersoHead tdHeadTypeEnvoi">Type d'envoi</th>
                                <th class="tablePersoHead tdHeadNbEx">Nb ex.</th>
                                <th class="tablePersoHead tdHeadTampon">Tampon</th>
                                @*<th class="tablePersoHead tdHeadLettreAccomp">Lettre d'accomp.</th>
                                <th class="tablePersoHead tdHeadLotEmail">Lot email</th>
                                <th class="tablePersoHead tdHeadColAction1"></th>
                                <th class="tablePersoHead tdHeadColGenere"></th>*@
                                <th class="tablePersoHead tdHeadColAction2">
                                    <img class="CursorPointer Action" src="@Url.Content("/Content/Images/plusajouter1616.png")" alt="Ajouter" title="Ajouter" id="btnAjouterDestinataire"/>
                                </th>
                            </tr>
                        </table>
                    </div>
                    @*<div id="divDestinataireNew" class="None PaddingLeft divHeightDestinataires">
                        @if (Model.NewDestinataire != null)
                        {            
                            @Html.Partial("LstDetailsDestinataires", Model)                      
                        }
                    </div>*@
                    @*<div id="divDestinatairesBody" class="PaddingLeft divHeightDestinataires">
                        @if (Model.ListeDestinataire != null)
                        {            
                            @Html.Partial("LstDetailsDestinataires", Model)                      
                        }
                    </div>*@
                    @Html.Partial("LstDetailsDestinataires", Model)
                </div>
            </div>
        </div>
    </div>

    <div class="GroupFull GroupWithBorder ButtonsHeight LargeurDetailsDocument">
        <div class="ActionButtons ActionButtonLeft">
            <button id="btnSupprimerDetailsDocument" type="button">Supprimer</button>
        </div>
        <div class="ActionButtons ActionButtonRight">
            <button id="btnAnnulerDetailsDocument" type="button">Retour</button>
            <button id="btnEnregistrerDetailsDocument" type="button">Enregistrer</button>
        </div>
    </div>

</div>


<div id="divSelectionGeneric" class="None">
    <div class="overlay-background" style="z-index:2" >
    </div>
    <div id="divDataSelectionGeneric">
    </div>
</div>




