@model ALBINGIA.OP.OP_MVC.Models.MetaData.Bandeau_MetaData
@*@AlbAddCssJsScripts.AlbAddCssToViews(new UrlHelper(ViewContext.RequestContext), new[] { "albAnEntete.css" }, "~/Content/AnEntete/")*@
@*Ajouter les bundles*@
@AlbAddCssJsScripts.AddStyleBundle("~/Content/AnEntete/AnEnteteStyle")
<div class="HeightRow">
    <table class="tabBandeau" cellpadding="0" cellspacing="0" border="0">
        <tr>
            @if ((Model.Type == "P") && (@Model.Version != "0"))
            {
                <td class="AlbNoWrap cellBandeauOffre"><b>@Model.IdOffre - @Model.Version</b></td>
            }
            else
            {
                if (Model.Type == "O")
                {
                    <td class="AlbNoWrap cellBandeauOffre"><b>@Model.IdOffre - @Model.Version</b></td>
                }
                else
                {
                    <td class="AlbNoWrap cellBandeauOffre"><b>@Model.IdOffre</b></td>
                }
            }
            <td class="AlbNoWrap cellBandeauDescr" title="@Model.Description">@Model.Description</td>
            <td class="AlbNoWrap cellBandeauBranche" title="@Model.Branche - @Model.Cible">@Model.Branche - @Model.Cible</td>
            <td class="AlbNoWrap cellBandeauAssu" title="@Model.Delegation - @Model.Inspecteur">@Model.Delegation - @Model.Inspecteur</td>
            <td class="AlbNoWrap cellBandeauAssu" title="@Model.IdAssure - @Model.NomAssure">@Model.IdAssure - @Model.NomAssure</td>
            <td class="AlbNoWrap cellBandeauImg">
                @if (Model.HasDoubleSaisie)
                {
                    <img id="DblSaisieBandeau" class="CursorPointer" src="@Url.Content("/Content/Images/ico_16_formorder.png")" alt="DoubleSaisie" title="Contient une double saisie" />
                }
            </td>
            <td id="imgInfoBandeau" class="AlbNoWrap cellBandeauImg CursorPointer">
                <img src="@Url.Content("/Content/Images/alertes/notif_icn_info16.png")" alt="Informations" />
            </td>
        </tr>
    </table>
</div>

@Html.Partial("Entete/InfoBandeau", Model)
<div id="divBandeauInfo" class="None">
</div>
