@model ALBINGIA.OP.OP_MVC.Models.ModelesParamISReference.LigneModeleIS
<div class="HeightRow nBGEntete1 PaddingTop">
    <div class="FieldBandeau DivEntete3">
        <label>Nom interne</label>
    </div>
    <div class="FieldBandeauBold11">
        <label>@Model.Code</label>
    </div>
    <div class="FieldBandeau DivEntete13">
        <label>Libellé</label>
    </div>
    <div class="FieldBandeauBold13">
        <label>@Model.LibelleAffiche</label>
    </div>
</div>
<div class="HeightRow nBGEntete2 PaddingTop">
    <div class="FieldBandeau DivEntete3">
        <label>Type de zone</label>
    </div>
    <div class="FieldBandeauBold11">
        <label>@Model.TypeZone</label>
    </div>
    <div class="FieldBandeau DivEntete12">
        <label>Taille</label>
    </div>
    <div class="FieldBandeauBold12">
        <label>@Model.LongueurZone</label>
    </div>
    <div class="FieldBandeau DivEntete13">
        <label>Mappage</label>
    </div>
    <div class="FieldBandeauBold13">
        <label>@Model.Mappage</label>
    </div>
</div>
<div class="HeightRow nBGEntete1 PaddingTop">
    <div class="FieldBandeau DivEntete3">
        <label>Conversion</label>
    </div>
    <div class="FieldBandeauBold11">
        <label>@Model.Conversion</label>
    </div>
    <div class="FieldBandeau DivEntete12">
        <label>Présentation</label>
    </div>
    <div class="FieldBandeauBold12">
        <label>@Model.PresentationLabel</label>
    </div>
    <div class="FieldBandeau DivEntete13">
        <label>Type UI</label>
    </div>
    <div class="FieldBandeauBold13">
        <label>@Model.TypeUI</label>
    </div>
</div>
<div class="HeightRow nBGEntete2 PaddingTop">
    <div class="FieldBandeau DivEntete3">
        <label>Script aff.</label>
    </div>
    <div class="FieldBandeauBold11">
        <label>@Model.Affichage</label>
    </div>
    <div class="FieldBandeau DivEntete12">
        <label>Script ctrl</label>
    </div>
    <div class="FieldBandeauBold12">
        <label>@Model.Controle</label>
    </div>
    <div class="FieldBandeau DivEntete13">
        <label>Obligatoire</label>
    </div>
    <div class="FieldBandeauBold13">
        <label>@Model.Obligatoire</label>
    </div>
</div>
<div class="HeightRow nBGEntete1 PaddingTop">
    <div class="FieldBandeau DivEntete3">
        <label>Observations</label>
    </div>
    <div class="FieldBandeauBoldFullRow">
        <label>@Model.Observation</label>
    </div>
</div>
