@model ALBINGIA.OP.OP_MVC.Models.ModelesParamISAssocier.ParamISLigneModele
<td class="col_Action_line">
    <div class="col_Action_in" name="colEdition_@(Model.GuidId)">
        <img id="saveModele_@(Model.GuidId)" name="saveLigneModele" alt="Sauvegarder la ligne modèle" title="Sauvegarder la ligne modèle" src="@Url.Content("/Content/Images/Save_16.png")" class="CursorPointer ImgSave Action paddingReadonly" />
        @if (Model.GuidId != -9999)
        {
            <img id="cancelModele_@(Model.GuidId)" name="cancelLigneModele" alt="Annuler la ligne modèle" title="Annuler la ligne modèle" src="@Url.Content("/Content/Images/reset.png")" class="CursorPointer ImgCancel Action paddingReadonly" />
        }
    </div>
</td>
<td class="col_code_line FloatLeft" name="selectableCol" id="col_Code_@(Model.GuidId)">
    <div class="colEdition col_code_in" name="colEdition_@(Model.GuidId)">
    </div>
</td>
<td class="col_Referentiel_line" name="selectableCol" id="col_Referentiel_@(Model.GuidId)">
    <input type="hidden" id="typeUI_@(Model.GuidId)" value="@Model.TypeUI" />
    <div class="colEdition" name="colEdition_@(Model.GuidId)">
        <input id="drlReferentiel_@(Model.GuidId)" class="inputReferentiel" name="drlReferentiel" value="@Model.Referentiel" albAutoComplete="autoCompReferentielIS" albcontext="@Model.GuidId" />
        <input type="hidden" id="@("idReferentiel_" + Model.GuidId)" value="@Model.ReferentielId" albAutoComplete="autoCompReferentielISCode" albcontext="@Model.GuidId" />
    </div>
</td>
<td class="col_Libelle_line" name="selectableCol" id="col_Libelle_@(Model.GuidId)">
    <div class="colEdition" name="colEdition_@(Model.GuidId)">
        <input id="libelle_@(Model.GuidId)" class="inputLib" name="libelle" value="@Model.Libelle" />
    </div>
</td>
<td class="col_NumAff_line" name="selectableCol" id="col_NumAff_@(Model.GuidId)">
    <div class="colEdition paddingEdition" name="colEdition_@(Model.GuidId)">
        <input id="numAff_@(Model.GuidId)" class="inputAff decimal" albMask="decimal" name="numAffichage" value="@Model.NumOrdreAffichage" />
    </div>
</td>
<td class="col_SautLigne_line" name="selectableCol" id="col_SautLigne_@(Model.GuidId)">
    <div class="colEdition" name="colEdition_@(Model.GuidId)">
        <input class="inputSautLigne  decimal" albMask="numeric" id="sautLigne_@(Model.GuidId)" name="sautLigne" value="@Model.SautDeLigne" />
    </div>
</td>
<td class="col_Modifiable_line" name="selectableCol" id="col_Modifiable_@(Model.GuidId)">
    <div class="colEdition paddingEdition" name="colEdition_@(Model.GuidId)">
        @Html.AlbDropDownListFor(m => Model.Modifiable, Model.ListModifiable, "dvModifiable", generateTitle: true, genEmptyLine: false, htmlAttributes: new { @id = "drlModifiable_" + Model.GuidId, @class = "inputEdition" })
    </div>
</td>
<td class="col_Obligatoire_line" name="selectableCol" id="col_Obligatoire_@(Model.GuidId)">
    <div class="colEdition paddingEdition" name="colEdition_@(Model.GuidId)">
        @Html.AlbDropDownListFor(m => Model.Obligatoire, Model.ListObligatoire, "dvObligatoire", generateTitle: true, genEmptyLine: false, htmlAttributes: new { @id = "drlObligatoire_" + Model.GuidId, @class = "inputObligatoire" })
    </div>
</td>
<td class="col_Tcon_line" name="selectableCol" id="col_Tcon_@(Model.GuidId)">
    <div class="colEdition paddingEdition" name="colEdition_@(Model.GuidId)">
        <input id="tcon_@(Model.GuidId)" class="inputTcon " name="tcon" value="@Model.Tcon" />
    </div>
</td>
<td class="col_Tfam_line" name="selectableCol" id="col_Tfam_@(Model.GuidId)">
    <div class="colEdition paddingEdition" name="colEdition_@(Model.GuidId)">
        <input id="tfam_@(Model.GuidId)" class="inputTfam " name="tfam" value="@Model.Tfam" />
    </div>
</td>
<td class="col_Presentation_line" name="selectableCol" id="col_Presentation_@(Model.GuidId)">
    <div class="colEdition" name="colEdition_@(Model.GuidId)">
        @Html.AlbDropDownListFor(m => Model.Presentation, Model.ListPresentation, "dvPresentation", generateTitle: true, genEmptyLine: false, htmlAttributes: new { @class = "inputPresentation", @id = "drlPresentation_" + Model.GuidId })
    </div>
</td>
<td class="col_ScriptAffichage_line" name="selectableCol" id="col_ScriptAffichage_@(Model.GuidId)">
    <div class="colEdition" name="colEdition_@(Model.GuidId)">
        @Html.AlbDropDownListFor(m => Model.Affichage, Model.ListAffichage, "dvAffichage", generateTitle: true, genEmptyLine: false, htmlAttributes: new { @class = "inputScriptAffichage", @id = "drlAffichage_" + Model.GuidId })
    </div>
</td>
<td class="col_ScriptControle_line" name="selectableCol" id="col_ScriptControle_@(Model.GuidId)">
    <div class="colEdition" name="colEdition_@(Model.GuidId)">
        @Html.AlbDropDownListFor(m => Model.Controle, Model.ListControle, "dvControle", generateTitle: true, genEmptyLine: false, htmlAttributes: new { @class = "inputScriptControle", @id = "drlControle_" + Model.GuidId })
    </div>
</td>
<td class="col_LienParent_line" name="selectableCol" id="col_LienParent_@(Model.GuidId)">
    <div class="colEdition" name="colEdition_@(Model.GuidId)">
        @*        @Html.AlbDropDownListFor(m => Model.LienParent, Model.ListLinkBehaviour, "dvLien", generateTitle: true, genEmptyLine: true, htmlAttributes: new { @class = "col_LienParent_in", @id = "lienParent_" + Model.GuidId })*@
        <input type="hidden" id="lienParent_@(Model.GuidId)" value="@Model.LienParent" />
        <input id="lienParentLib_@(Model.GuidId)" class="inputLnkParent" name="lienParent" title="@Model.LienParentLibelle" value="@Model.LienParentLibelle" />
    </div>
</td>
<td class="col_ParentComportement_line" name="selectableCol" id="col_ParentComportement_@(Model.GuidId)">
    <div class="colEdition" name="colEdition_@(Model.GuidId)">
        <input id="parentComportement_@(Model.GuidId)" class="inputParentComportement" name="parentComportement" value="@Model.ParentComportement" />
    </div>
</td>
<td class="col_ParentEvt_line" name="selectableCol" id="col_ParentEvt_@(Model.GuidId)">
    <div class="colEdition" name="colEdition_@(Model.GuidId)">
        <input id="parentEvenement_@(Model.GuidId)" class="inputParentEvenement" name="parentEvenement" value="@Model.ParentEvenement" />
    </div>
</td>
<td name="selectableCol" id="col_ScriptAff_@(Model.GuidId)">
    <div class="col_Script_in" name="colReadOnly_@(Model.GuidId)" title="@Model.ScriptAffichage">
        @Model.ScriptAffichage
    </div>
</td>
<td name="selectableCol" id="col_ScriptCtrl_@(Model.GuidId)">
    <div class="col_Script_in" name="colReadOnly_@(Model.GuidId)" title="@Model.ScriptControle">
        @Model.ScriptControle
    </div>
</td>


