@using ALBINGIA.Framework.Common.Tools
@using ALBINGIA.OP.OP_MVC.Models.ModelesPages

@inherits AlbToReadOnlyHtml<ModeleClausierPage>
@AlbAddCssJsScripts.AlbAddCssToViews(new UrlHelper(ViewContext.RequestContext), new[] { "vClausier.css" }, "~/Content/")
@AlbAddCssJsScripts.AlbAddJsToViews(new UrlHelper(ViewContext.RequestContext), new[] { "albClausier.js" }, "~/Scripts/AlbingiaJS/")
@{
    Layout = "~/Views/Shared/LayoutHeader/LayoutMenu.cshtml";
}
<div class="FullWidth">
    @switch (Model.ScreenType) {
        case ALBINGIA.Framework.Common.Constants.AlbConstantesMetiers.SCREEN_TYPE_OFFRE:
            @Html.Partial("~/Views/Shared/LayoutArbres/LayoutArbre.cshtml", Model.NavigationArbre)
            break;
        case ALBINGIA.Framework.Common.Constants.AlbConstantesMetiers.SCREEN_TYPE_CONTRAT:
            @Html.Partial("~/Views/Shared/LayoutArbres/LayoutArbreContrat.cshtml", Model.NavigationArbre)
            break;
        case ALBINGIA.Framework.Common.Constants.AlbConstantesMetiers.SCREEN_TYPE_AVNMD:
            @Html.Partial("~/Views/Shared/LayoutArbres/LayoutArbreContrat.cshtml", Model.NavigationArbre)
            break;
        case ALBINGIA.Framework.Common.Constants.AlbConstantesMetiers.SCREEN_TYPE_REGUL:
            @Html.Partial("~/Views/Shared/LayoutArbres/LayoutArbreContrat.cshtml", Model.NavigationArbre)
            break;
        case ALBINGIA.Framework.Common.Constants.AlbConstantesMetiers.SCREEN_TYPE_REGULMODIF:
            @Html.Partial("~/Views/Shared/LayoutArbres/LayoutArbreContrat.cshtml", Model.NavigationArbre)
            break;
        case ALBINGIA.Framework.Common.Constants.AlbConstantesMetiers.SCREEN_TYPE_REMISEVIGUEUR:
            @Html.Partial("~/Views/Shared/LayoutArbres/LayoutArbreContrat.cshtml", Model.NavigationArbre)
            break;
        default:
            @Html.Partial("~/Views/Shared/LayoutArbres/LayoutArbre.cshtml", Model.NavigationArbre)
            break;
    }
    <div class="CommonForm FloatLeft">
        @Html.HiddenNoName("Etape", Model.Etape)
        @Html.HiddenNoName("Branche", Model.Branche)
        @Html.HiddenNoName("Provenance", Model.Provenance)
        @Html.HiddenNoName("RubriqueClause", string.Empty)
        @Html.HiddenNoName("SousRubriqueClause", string.Empty)
        @Html.HiddenNoName("SequenceClause", string.Empty)
        @Html.HiddenNoName("CodeClause", string.Empty)
        @Html.HiddenNoName("VersionClause", string.Empty)
        @Html.HiddenNoName("CodeRsq", Model.CodeRsq)
        @Html.HiddenNoName("CodeFor", Model.CodeFormule)
        @Html.HiddenNoName("CodeOption", Model.CodeOption)
        @Html.HiddenNoName("DateFormate", AlbConvert.ConvertIntToDate(Model.Date).Value.ToShortDateString())
        <div class="nGroupFull nGroupWithBorder">
            @Html.Partial("~/Views/Shared/LayoutPage/LayoutInfoTab.cshtml", Model)
            <div id="Contrat">
                @*<div class="GroupTitle">
                        Clausier
                    </div>*@
                <div class="nHorizontalFullWithGroup">
                    <div class="nGradientSection">
                        @Html.HiddenFor(m => m.ObjetRisqueCode)
                        @Html.HiddenFor(m => m.NbrObjets)
                        @Html.Hidden("isRisqueSelected", Model.IsRsqSelected.ToString())
                        <table class="@(!string.IsNullOrEmpty(Model.Risque) ? "tblInfo" : "trHeight")">
                            <tr>
                                <td class="columnLabelOffre">
                                    <label class="Block labelOffre">@(Model.Offre != null ? "Offre" : "Contrat")</label>
                                </td>
                                <td class="columnOffre readonly" id="CodeOffre" name="CodeOffre">
                                    @* <input type="text" id="CodeOffre" name="CodeOffre" class="readonly" readonly="readonly" value="@Model.CodeOffre" />*@
                                    @Model.CodeOffre
                                </td>

                                @if (!string.IsNullOrEmpty(Model.Risque)) {
                                    <td class="columnLabelRisque">
                                        <label class="Block labelRisque">Risque</label>
                                    </td>
                                    <td class="columnRisque readonly" id="Risque" name="Risque">
                                        @Model.Risque
                                    </td>
                                    if (Model.ObjetsRisqueAll != null && Model.ObjetsRisqueAll.Objets != null && Model.ObjetsRisqueAll.Objets.Count == 1) {
                                        <td class="Block LabelObjetRisque">S'applique à l'objet</td>
                                        <td class="columnObjetRisque readonly" id="ObjetRisque" name="ObjetRisque">
                                            @(Model.ObjetsRisqueAll != null && Model.ObjetsRisqueAll.Objets != null && Model.ObjetsRisqueAll.Objets.Count > 0 ? Model.ObjetsRisqueAll.Objets[0].Code + " - " + Model.ObjetsRisqueAll.Objets[0].Designation : string.Empty)
                                        </td>
                                    }
                                    else {
                                        <td class="Block LabelObjetRisque">S'applique au risque</td>
                                        <td class="columnObjetRisque readonly" id="ObjetRisque" name="ObjetRisque">
                                            @Model.Risque
                                        </td>
                                    }

                                    <td>
                                        <div id="divBtnMultiObj" name="btnMultiObj" class="FloatLeft CursorPointer">
                                            <img src="@Url.Content("/Content/Images/moreinfo.png")" width="22" height="22" />
                                        </div>
                                    </td>
                                }
                                @if (!string.IsNullOrEmpty(Model.Formule)) {
                                    <td class="labelFormule">
                                        <label class="Block">Formule</label>
                                    </td>
                                    <td id="Formule" name="Formule" class="columnFormule readonly">
                                        @Model.Formule
                                    </td>
                                }

                            </tr>
                        </table>
                    </div>
                    @*</div>
                        <div class="HorizontalFullWithGroup">*@
                    <div class="nGradientSection ZoneRechercheHeight">
                        <div class="HeightRow">
                            <div class="GenericColumn">
                                <div class="FloatLeft">
                                    <label class="Block">Libellé</label>
                                </div>
                                <div class="FloatLeft">
                                    <input type="text" id="Libelle" name="Libelle" value="@(Model.Titre)" />
                                </div>
                            </div>
                            <div class="GenericColumn">
                                <div class="FloatLeft">
                                    <label class="Block">Mots-Clés</label>
                                </div>
                                <div class="FloatLeft">
                                    @Html.AlbDropDownListFor(m => m.MotCle1, Model.MotCles1, "MotCle1", htmlAttributes: new { @id = "MotCle1" }, generateTitle: true)
                                </div>
                            </div>
                            <div class="ColumnMotCle">
                                <div class="FloatLeft">
                                    @Html.AlbDropDownListFor(m => m.MotCle2, Model.MotCles2, "MotCle2", htmlAttributes: new { @id = "MotCle2" }, generateTitle: true)
                                </div>
                            </div>
                            <div class="ColumnMotCle">
                                <div class="FloatLeft">
                                    @Html.AlbDropDownListFor(m => m.MotCle3, Model.MotCles3, "MotCle3", htmlAttributes: new { @id = "MotCle3" }, generateTitle: true)
                                </div>
                            </div>
                            <div class="ButonChercher">
                                <button id="btnRechercherClausier" type="button" albshortcut="true" data-accesskey="c">
                                    <img class="FloatLeft MarginLeftButton" title="BackOffice" alt="BackOffice" src="@Url.Content("/Content/Images/ico_16_1039_advFind.gif")" />
                                    <span class="spanText FloatLeft CursorPointer"><u>C</u>hercher</span>
                                </button>
                            </div>
                        </div>
                        <div class="HeightRow">
                            <div class="GenericColumn">
                                <div class="FloatLeft">
                                    <label class="Block">Rubrique</label>
                                </div>
                                <div class="FloatLeft">
                                    @Html.AlbDropDownListFor(m => m.Rubrique, Model.Rubriques, "Rubrique", htmlAttributes: new { @id = "Rubrique" }, generateTitle: true)
                                </div>
                            </div>
                            @Html.Partial("ListSousRubriques", Model.ModeleDDLSousRubrique)
                        </div>
                        <div id="dvRechercheGeneral">
                        </div>
                    </div>
                    @Html.HiddenNoName("ContexteCible", Model.Contexte)
                </div>
            </div>
        </div>
        <div class="GroupFull GroupWithBorder ButtonsHeight">
            <div class="ActionButtons ActionButtonLeft">
            </div>
            <div id="FullScreen" class="FloatLeft" style="padding-top: 6px;">
                <button id="btnFullScreen" type="button" class="CursorPointer FullScreenBtn" title="Plein écran">
                    <img src="@Url.Content("/Content/Images/window_fullscreen.png")" alt="Plein écran" />
                </button>
            </div>
            <div id="LoadingDiv" class="FloatLeft">
                <img src="/Content/Images/ajax-loader.gif" alt="" />
            </div>
            <div class="ActionButtons ActionButtonRight" style="width: 400px;">
                <button id="btnAnnuler" type="button" albshortcut="true" data-accesskey="a"><u>A</u>nnuler</button>
                <button id="btnSuivant" type="button" albshortcut="true" data-accesskey="s" disabled="disabled"><u>S</u>uivant</button>
            </div>
        </div>
    </div>
</div>
<div id="divLstObj" class="None">
    <div class="overlay-background" style="z-index:2" >
    </div>
    <div id="divDataLstObj">
        <div class="DivObjets">
            <div class="HeightRow">
                <div class="RsqColumn">
                    <div class="FloatLeft CheckRsq">
                        @*<input id="checkRsq_@(Model.CodeRsq)" name="checkRsq" type="checkbox" value="@(Model.CodeRsq)_@(Model.Risque)"/>*@
                        <input id="checkRsq_@(Model.CodeRsq)" name="checkRsq" type="radio" value="@(Model.CodeRsq)_@(Model.Risque)" />
                    </div>
                    <div class="FloatLeft">
                        <div class="DivRsqTitle Ellipsis" title="@Model.Risque">
                            Sélection du risque : @Model.Risque
                        </div>
                    </div>
                </div>
            </div>
            <div class="DivObjTitle">
                Sélection de l'objet
            </div>
            <div class="divListRsqObj">
                @if (Model.ObjetsRisqueAll != null) {
                    @Html.Partial("ListObjets", Model.ObjetsRisqueAll)
                }
            </div>

            <div class="Validation PaddingValidation">
                <button id="btnListCancel" type="button" albshortcut="false" data-accesskey="a"><u>A</u>nnuler</button>
                <button id="btnListValid" type="button" albshortcut="false" data-accesskey="v"><u>V</u>alider</button>
            </div>
        </div>
    </div>
</div>
<div id="divSelectedObjets" name="divSelectedObjets" class="nInfoBandeau divSelectedObjetsDim">
    @if (Model.ObjetsRisqueAll != null) {
        <div class="HeightRow nBGEntete1 PaddingTop PaddingBottom objRisque" style="display: none;">
            <div class="FieldBandeauBold">Les objets du risque</div>
        </div>
        int i = 1;
        foreach (var obj in Model.ObjetsRisqueAll.Objets) {
            <div class="HeightRow nBGEntete1 PaddingTop objRisque" name="obj_@(obj.Code)" style="display:none">
                <div class="FieldBandeau LibelleBandeau"><u>Objet @(obj.Code) :</u></div>
                <div class="FieldBandeauBold SelectedObjetsEllipsis" title="@(obj.Code)-@(obj.Designation)">@(obj.Code)-@(obj.Designation)</div>
            </div>
            i++;
        }
    }
</div>

<div id="divFullScreen" style="display: none">
    <div class="overlay-background" style="z-index:2" >
    </div>
    <div id="divDataFullScreen">
    </div>
</div>

