
@using OP.WSAS400.DTO.Regularisation
@using ALBINGIA.OP.OP_MVC.Models.Regularisation
@using ALBINGIA.OP.OP_MVC.Models.PB
@using ALBINGIA.OP.OP_MVC.Models.MetaModels
@model ModelePBPage

@Url.IncludeKoComponent("entete-contrat")
@Url.IncludeKoComponent("selection-periode-pb")
@AlbAddCssJsScripts.AlbAddCssToViews(new UrlHelper(ViewContext.RequestContext), new[] { "PB/vSelectionPeriodePB.css", "Quittance/albQuittance.css", "vCreationAvenant.css" }, "~/Content/")
@AlbAddCssJsScripts.AlbAddJsToViews(new UrlHelper(ViewContext.RequestContext), new[] { @*"Regularisation/albRegul_Step1_ChoixPeriode.js"*@"PB/albSelectionPeriodePB.js" }, "~/Scripts/AlbingiaJS/")
@{
    ViewBag.Title = "CreationRegule";
    Layout = "~/Views/Shared/LayoutHeader/LayoutMenu.cshtml";
}

<div class="FullWidth">

    @Html.Partial("~/Views/Shared/LayoutArbres/LayoutArbreRegule.cshtml", new NavTreeModel { NavTree = Model.NavigationArbre, Step = RegularisationStep.ChoixPeriodeCourtier })
    @Html.Partial("~/Views/Shared/LayoutPage/LayoutInfoTab.cshtml", Model)

    <div class="CommonForm FloatLeft">
        <div class="nGroupFull nGroupWithBorder">
            <div class="divGlobalRegulGroup">
                @Html.HiddenNoName("isContratTempo", Model.Contrat.IsTemporaire.ToString())
                @Html.HiddenNoName("attestId", string.Empty)
                @Html.HiddenNoName("ModeAvt", Model.AvnMode)
                @Html.HiddenNoName("hiddenInputId", string.Empty)
                @Html.HiddenNoName("modeConsult", string.Empty)
                @Html.HiddenNoName("periodicite", Model.Contrat.PeriodiciteCode)
                @Html.HiddenNoName("FinEffetHeure", Model.FinEffetHeure)
                @Html.Hidden("CodePeriodicite", (Model.Contrat.PeriodiciteCode))
                @Html.HiddenNoName("SouscripteurCode", (Model.Contrat.SouscripteurCode))
                @Html.HiddenNoName("GestionnaireCode", (Model.Contrat.GestionnaireCode))

                <entete-contrat></entete-contrat>

                <div id="divInfoRegul" class="simpleGradientSection divPeriodeAlertRegularisation">
                    <selection-periode-pb></selection-periode-pb>
                </div>
            </div>
        </div>
        <div class="nGroupFull nGroupWithBorder ButtonsHeight FloatLeft">
            <div class="nActionButtons ActionButtonRight">
                <button id="btnRegulePrec" type="button" albshortcut="true" data-accesskey="P"><u>P</u>récedent</button>
                <button id="btnReguleSuivant" type="button" class="@(Model.InfoPB != null ? string.Empty : "None")" albshortcut="true" data-accesskey="s" disabled="@(Model.InfoPB?.HasSelections != true)" title="@(Model.InfoPB?.HasSelections == false ? "Pas de régularisation possible pour la période sélectionnée" : string.Empty)"><u>S</u>uivant</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.contrat = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Context.IdContrat, Newtonsoft.Json.Formatting.Indented));
    window.modelPbs = @Html.Raw(MetaModelsBase.GetJsonFromData(Model));

</script>

