@model ALBINGIA.OP.OP_MVC.Models.AffaireNouvelle.CoAssureurs.CoAssureur
<div class="GroupFull GroupWithBorder" id="divDialogEditCoAssureur">
    <div class="HorizontalHalfWithGroupAdmin">
        <div class="GradientSection">
            @if (Model.ModeCoass)
            {
                <div class="GroupTitle">
                    Ajout/Modification d'un Co-Assureur
                </div>
            }
            else
            {
                <div class="GroupTitle">
                    Détails Apériteur
                </div>
            }
        </div>
        <div class="GradientSection" style="height: 150px;">
            
            @Html.HiddenNoName("hiddenIdEdit", Model.GuidId)
            @Html.HiddenNoName("modeCoass", Model.ModeCoass)

            <div class="divEditLigne">
                <label>Code*</label>
                <span id="spanCode">
                    @Html.Hidden("AperiteurSelect", string.Empty, new { albautocomplete = "autoCompAperiteurSelect" })
                    <input id="inCode" class="editColCode" value="@Model.Code" albAutoComplete="autoCompAperiteurCode" disabled="@(Model.IsReadonly )" />
                </span>
                <label>Nom*</label>
                <input id="inLibelle" class="editColLibelle" value="@Model.Nom" albAutoComplete="autoCompAperiteurNom" disabled="@(Model.IsReadonly )" />
                <label>%Part*</label>
                <span id="spanPourcentPart">
                    <input id="inPourcentPart" class="decimal" albMask="pourcentdecimal" value="@Model.PourcentPart" disabled="@(Model.IsReadonly )" style="width:60px" />
                    @Html.HiddenNoName("AncienPourcentPart", Model.PourcentPart, new { albMask = "pourcentdecimal" })
                </span>
                <br />
                <span id="CoAssureurInvalideDiv" class="FloatLeft error PaddingLeft"></span>
            </div>
            <div class="divEditLigne">
                <label>Interlocuteur</label>
                <span id="spanInterlocuteur">
                    @Html.HiddenNoName("inInterlocuteurCode", Model.IdInterlocuteur, new { @class = "editColInterlocuteur", albAutoComplete = "autoCompApeInterlocuteurCode" })
                    <input id="inInterlocuteur" class="editColInterlocuteur" value="@Model.Interlocuteur" albAutoComplete="autoCompApeInterlocuteurNom" disabled="@(Model.IsReadonly && !Model.IsModifHorsAvn )" />
                </span>
                <span id="spanReference">
                    <label>Référence</label>
                    <input id="inReference" class="editColReference" maxlength="25" value="@Model.Reference" disabled="@(Model.IsReadonly && !Model.IsModifHorsAvn )" />
                </span>
                <br />
                <span id="InterlocuteurInvalideDiv" class="FloatLeft error PaddingLeft"></span>
            </div>
            <div class="divEditLigne">
                <div class="FloatLeft">
                    <label>Montant frais accessoires (€)</label>
                    <span id="spanFraisAcc">
                        <input id="inFraisAcc" class="editColFraisAcc decimal" albMask="fraisAcc" value="@Model.FraisAcc" disabled="@(Model.IsReadonly && !Model.IsModifHorsAvn )" style="width:60px" />
                    </span>
                    @if (Model.ModeCoass) {
                        <span id="spanFraisApe">
                            <label>Taux de frais d'apérition Albingia (%)</label>
                            <input id="inFraisApe" class="editColFraisAcc decimal" albMask="pourcentdecimal" maxlength="5" value="@Model.FraisApeAlb" disabled="@(Model.IsReadonly && !Model.IsModifHorsAvn )" style="width:60px" />
                        </span>
                    }
                    @*@if (Model.ModeCoass)
                {*@
                    <span id="spanParticipation" class="None">
                        <label>Participation du</label>
                        <span>@Html.AlbDateFormat(m => m.DateDebut, new { @class = "datepicker", @tabindex = "17", @id = "inDateDeb" })</span>

                        <label>au</label>
                        <span>@Html.AlbDateFormat(m => m.DateFin, new { @class = "datepicker", @tabindex = "18", @id = "inDateFin" })</span>
                    </span>
                    @*}
                else
                {*@
                    @if (!Model.ModeCoass) {
                        <span id="spanCommissionApe">
                            <label>Comm. Apé. (%)</label>
                            <input id="inCommissionApe" class="editColFraisAcc decimal" albMask="pourcentdecimal" maxlength="5" value="@Model.CommissionAperiteur" disabled="@(Model.IsReadonly && !Model.IsModifHorsAvn )" style="width:60px" />
                        </span>
                    }
                    @* }*@
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: right">
        @if (Model.IsReadonly && !Model.IsModifHorsAvn)
        {
            <button id="btnAnnulerEdition" type="button" albshortcut="true" data-accesskey="f"><u>F</u>ermer</button>
        }
        else
        {
            <button id="btnAnnulerEdition" type="button" albshortcut="true" data-accesskey="a"><u>A</u>nnuler</button>
            <button id="btnEnregistrerEdition" type="button" albshortcut="true" data-accesskey="v"><u>V</u>alider</button>
        }
    </div>
</div>
