

@model ALBINGIA.OP.OP_MVC.Models.ModelesFinOffre.ModeleFinOffreInfos

<div class="HeightRow">
    <div class="FloatLeft">
        <label class="Block">Antécédent</label>
    </div>
    <div class="FloatLeft divAntedecent">@Html.AlbDropDownListFor(m => m.Antecedent, Model.Antecedents, "Antecedent", htmlAttributes: new { @id = "Antecedent", @tabindex = "1", @albCFList = "antecedent" }, generateTitle: true, genEmptyLine: false)</div>
    <div class="FloatLeft">
        <label class="Block">Description</label>
    </div>
    <div class="FloatLeft">
        @if (Model.IsReadOnly)
        {
            <div id="Description" style="width: 614px; height: 54px; border: 1px solid #cdcdcd; color: #cdcdcd; background-color: white; overflow-y: auto; ">@Html.Raw(Model.Description)</div>
        }
        else
        {
            <textarea id="Description" name="Description" class="" style="margin-bottom: 5px; width: 614px; min-height: 54px !important;" tabindex="6">@Model.Description</textarea>
        }
    </div>
</div>


<div class="HeightRow">
    <div class="FloatLeft">
        <label class="labelValidite" style="width: 120px; display: block;">Validité de l'offre (j)*</label>
    </div>
    <div class="divValidite" style="float: left; margin-right: 30px;">
        <input type="text" id="ValiditeOffre" name="ValiditeOffre" value="@(Model.ValiditeOffre)" class="numerique inputValidite" albMask="numericValidite" tabindex="3" />
    </div>
    <div class="FloatLeft">
        <label class="Block">Date du projet</label>
    </div>
    <div class="divValidite" style="float: left; margin-right: 30px;">
        @Html.AlbDateFormat(m => m.DateProjet, new { @class = "datepicker inputDate", @tabindex = "4" })
    </div>
    <div class="FloatLeft">
        @if (Model.Relance)
        {
            <input type="checkbox" id="Relance" name="Relance" tabindex="5" checked="checked" />
        }
        else
        {
            <input type="checkbox" id="Relance" name="Relance" tabindex="5" />
        }
    </div>
    <div class="FloatLeft">
        <label class="labelRelance">Relance ?</label>
    </div>
    <div class="FloatLeft" style="padding-right: 10px">
        <label class="labelRelanceVal">(j)</label>
    </div>
    <div class="FloatLeft">
        @if (Model.Relance)
        {
            <input type="text" id="RelanceValeur" name="RelanceValeur" class="numerique inputValidite" albMask="numeric" tabindex="6" value="@Model.RelanceValeur" />
        }
        else
        {
            <input type="text" id="RelanceValeur" name="RelanceValeur" class="numerique inputValidite" albMask="numeric" tabindex="6" disabled="disabled" value="@Model.RelanceValeur" />
        }
    </div>
</div>
<div class="HeightRow">
    <div class="FloatLeft">
        <label class="labelPreavis" style="width: 140px; display: block;">Préavis de résil. (mois)</label>
    </div>
    <div class="FloatLeft">
        @Html.HiddenNoName("PeridiciteOffre", Model.Periodicite)
        @*2016-02-24 : ajout du type de periodicite "R" bug 1884*@
        @if (Model.Periodicite == "A" || Model.Periodicite == "S" || Model.Periodicite == "T" || Model.Periodicite == "R")
        {
            <input type="text" id="Preavis" name="Preavis" class="numerique inputValidite" albMask="numeric" tabindex="8" value="@Model.Preavis" />
        }
        else
        {
            <input type="text" id="Preavis" name="Preavis" class="numerique inputValidite readonly" disabled="disabled" albMask="numeric" tabindex="8" value="@Model.Preavis" />
        }
    </div>
</div>


