@using ALBINGIA.Framework.Common.CacheTools
@using ALBINGIA.Framework.Common.Constants
@using ALBINGIA.OP.OP_MVC
@using ALBINGIA.OP.OP_MVC.Models.MetaModels
@using ALBINGIA.Framework.Common
@using ALBINGIA.OP.OP_MVC.Common
@{
    MetaModelsBase layoutModel = (MetaModelsBase)Model;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/Content/Images/LogoAlbingia.ico">
    <link rel="icon" type="image/gif" href="@Url.Content("~/Content/Images/AnimatedLogoAlbingia.gif")">
    <title>
        @string.Format("{0}-[{1}]", "Outil de production", layoutModel.NameUser)
    </title>

    @AlbAddCssJsScripts.AddScriptBundle("~/Scripts/jQuery.js")

    @*-----------------------------CSS/SCRIPTS---------------------------------*@
    @Html.Partial("~/Views/Shared/LayoutPage/LayoutScriptCSS.cshtml")
</head>
<body onload="DisableBackButton();">

    @Html.Partial("SessionError")

    @* *****************OBO Application Insights script injection  START ****************  *@
    <script type="text/javascript">
        var sdkInstance="appInsightsSDK";window[sdkInstance]="appInsights";var aiName=window[sdkInstance],aisdk=window[aiName]||function(e){function n(e){t[e]=function(){var n=arguments;t.queue.push(function(){t[e].apply(t,n)})}}var t={config:e};t.initialize=!0;var i=document,a=window;setTimeout(function(){var n=i.createElement("script");n.src=e.url||"https://az416426.vo.msecnd.net/scripts/b/ai.2.min.js",i.getElementsByTagName("script")[0].parentNode.appendChild(n)});try{t.cookie=i.cookie}catch(e){}t.queue=[],t.version=2;for(var r=["Event","PageView","Exception","Trace","DependencyData","Metric","PageViewPerformance"];r.length;)n("track"+r.pop());n("startTrackPage"),n("stopTrackPage");var s="Track"+r[0];if(n("start"+s),n("stop"+s),n("addTelemetryInitializer"),n("setAuthenticatedUserContext"),n("clearAuthenticatedUserContext"),n("flush"),t.SeverityLevel={Verbose:0,Information:1,Warning:2,Error:3,Critical:4},!(!0===e.disableExceptionTracking||e.extensionConfig&&e.extensionConfig.ApplicationInsightsAnalytics&&!0===e.extensionConfig.ApplicationInsightsAnalytics.disableExceptionTracking)){n("_"+(r="onerror"));var o=a[r];a[r]=function(e,n,i,a,s){var c=o&&o(e,n,i,a,s);return!0!==c&&t["_"+r]({message:e,url:n,lineNumber:i,columnNumber:a,error:s}),c},e.autoExceptionInstrumented=!0}return t}(
        {
          instrumentationKey:"@Microsoft.ApplicationInsights.Extensibility.TelemetryConfiguration.Active.InstrumentationKey"
        }
        ); window[aiName] = aisdk, aisdk.queue && 0 === aisdk.queue.length && aisdk.trackPageView({});
        appInsights.setAuthenticatedUserContext("@layoutModel.NameUser");
        appInsights.addTelemetryInitializer(function (e) { e.data.client = { height : window.screen.height,  width : window.screen.width } });
    </script>

    @* *****************OBO Application Insights script injection  END ****************  *@

    @Html.Partial("~/Views/Shared/LayoutPage/LayoutHideInput.cshtml", layoutModel)
    <div>
        @RenderBody()
    </div>
    <div id="ProgressDialog">
    </div>
    <div id="JQueryHttpPostResultDiv">
    </div>
    <div id="divTimePicker">
        @Html.AlbTimePicker(m => layoutModel.AlbTime, "AlbTime", new { @class = "HourMinute" })
        <input type="button" id="btnValidTime" name="btnValidTime" value="OK" />
    </div>

    @Html.Partial("LayoutTransverse")

    @Html.HiddenNoName("autres", AlbOpConstants.OtherBrowsers.ToString())

    @Html.Hidden("oldCodeRegExp", string.Empty)
    <div id="div_popups">
        <div id="divDialogInFancy">
            <div id="divDialog">
                <div id="msgDialog" class="FancyTextCenter">
                </div>
                <br />
                <div class="HeightRow FancyTextCenter">
                    <input type="button" id="btnDialogOk" value="OK" />
                </div>
            </div>
        </div>
        <div id="divAutoComplete">
            <div class="overlay-background" style="z-index:4">
            </div>
            <div id="divDataAutoComplete">
            </div>
            <div class="HeightRow FancyTextCenter">
                <input type="button" id="btnDialogOk" value="OK" />
            </div>
        </div>
        <div id="divComDblSaisie">
            <div class="overlay-background" style="z-index:6">
            </div>
            <div id="divDataComDblSaisie">
                <div id="MenuLayout" class="FloatLeft">
                    <div class="FullWidth">
                        <div id="DFDblSaisie" class="CommonForm FloatLeft">
                        </div>
                        <div class="nGroupFull nGroupWithBorder ButtonsHeight FloatLeft">
                            <div class="nActionButtons ActionButtonLeft">
                            </div>
                            <div id="LoadingDiv" class="FloatLeft">
                                <img src="/Content/Images/ajax-loader.gif" alt="" />
                            </div>
                            <div class="nActionButtons ActionButtonRight">
                                <button type="button" id="btnDFAnnulerDbl" tabindex="16" data-accesskey="f" value="Fermer"><u>F</u>ermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="divSuiviGestionDocuments">
            <div class="overlay-background" style="z-index:14">
            </div>
            <div id="divDataSuiviGestionDocuments">
            </div>
        </div>

        <div id="divConnexites">
            <div class="overlay-background" style="z-index:12">
            </div>
            <div id="divDataConnexites">
            </div>
        </div>

        <div id="divConnexitesEng">
            <div class="overlay-background" style="z-index:14">
            </div>
            <div id="divDataConnexitesEng">
            </div>
        </div>


        <div id="divDetailsConnexites">
            <div class="overlay-background" style="z-index:16">
            </div>
            <div id="divDataDetailsConnexites">
            </div>
        </div>

        <div id="divFullScreenAjoutConnexite">
            <div class="overlay-background" style="z-index:18">
            </div>
            <div id="divDataAjoutConnexite">
            </div>
        </div>

        <div id="divFullScreenConnexite">
            <div class="overlay-background" style="z-index:3">
            </div>
            <div id="divDataPleinEcranConnexite">
            </div>
        </div>

        <div id="divFullScreenRecherche">
            <div class="overlay-background" style="z-index:20">
            </div>
            <div id="divDataRechercheContrat">
            </div>
        </div>

        <div id="divConfirmationAction">
            <div class="overlay-background" style="z-index:7">
            </div>
            <div id="divDataConfirmationAction">
            </div>
        </div>

        <div id="divListeClauses">
            <div class="overlay-background" style="z-index:2">
            </div>
            <div id="divDataListeClauses">
            </div>
        </div>
        <div id="divClausierRech" class="None">
            <div class="overlay-background" style="z-index:2">
            </div>
            <div id="divDataClausierRech">
            </div>
        </div>
        <div id="divDocumentContrat">
            <div class="overlay-background" style="z-index:2">
            </div>
            <div id="divDataDocumentContrat">
            </div>
        </div>
        <div id="divDocumentContratPieceJointe">
            <div class="overlay-background" style="z-index:4">
            </div>
            <div id="divDataDocumentContratPieceJointe">
            </div>
        </div>
        <div id="divGestionIntervenants">
            <div class="overlay-background" style="z-index:6">
            </div>
            <div id="divDataGestionIntervenants">
            </div>
        </div>
        <div id="divDocJoints">
            <div class="overlay-background" style="z-index:6"></div>
            <div id="divDataDocJoints"></div>
        </div>

        <div id="divVisuListeQuittances">
            <div class="overlay-background" style="z-index:30">
            </div>
            <div id="divDataVisuListeQuittances">
            </div>
        </div>

        <div id="divFullScreenCotisation" class="None">
            <div class="overlay-background" style="z-index:32">
            </div>
            <div id="divDataCotisation">
            </div>
        </div>

        <div id="divFullScreenDetailsCotisation" class="None">
            <div class="overlay-background" style="z-index:34">
            </div>
            <div id="divDataDetailsCotisation">
            </div>
        </div>

        <div id="divAssureAdditionnels">
            <div class="overlay-background" style="z-index:2">
            </div>
            <div id="divDataAssureAdditionnels">
            </div>
        </div>

        <div id="divBehindBandeau" class="None">
            <div class="overlay-background" style="z-index:8">
            </div>
        </div>

        <div id="divFullScreenVisuObservations">
            <div class="overlay-background" style="z-index:28">
            </div>
            <div id="divDataVisuObservations">
            </div>
        </div>

        <div id="divFullScreenVisuSuspension">
            <div class="overlay-background" style="z-index:28">
            </div>
            <div id="divDataVisuSuspension">
            </div>
        </div>

        <div id="divFullScreenVisuHistorique">
            <div class="overlay-background" style="z-index:28">
            </div>
            <div id="divDataVisuHistorique">
            </div>
        </div>
        <div id="divRechercheAvanceePreneurAssuTrans" albname="divRechercheAvanceePreneur">
            <div class="overlay-background" style="z-index:22">
            </div>
            <div id="divDataRechercheAvanceePreneurAssuTrans" albname="divRechercheAvanceePreneur"></div>
        </div>

        @Html.Partial("DocLoadAsynch")

        <div id="divCreationContainer">
        </div>

        <div id="divFullScreenBulletinAvis" class="None">
            <div class="overlay-background" style="z-index:34">
            </div>
            <div id="divDataBulletinAvis">
            </div>
        </div>
    </div>
    <div id="divWordContainer" class="None">
        <div class="overlay-background" style="z-index:60">
        </div>
        <div id="divDataWordContainer">

            <div id="dvInfoClauseLibre" class="GroupFull GroupWithBorder TotalWidth None" style="height: 75px;">
                @*Hauteur rajoutée pour la compatibilité iframe Magnetic*@
            </div>
            <div id="vwWaitSaveWord" class="GroupFull GroupWithBorder TotalWidth" style="height: 21px; text-align: center; color: red; padding-top: 12px; font-size: 17px;">
                Veuillez traiter votre document dans l'outil de traitement de clause
            </div>
            <div id="vwStandardBtn" class="GroupFull GroupWithBorder TotalWidth ButtonsHeight">
                <div class="ActionButtons ActionButtonsSearch ActionButtonRight">
                    <button data-accesskey="o" albshortcut="true" id="btnImportWordStd" type="button" class="None" title="Utilisez la combinaison Alt + O pour accéder à la fonctionnalité">Imp<u>o</u>rter</button>
                    <button data-accesskey="i" albshortcut="true" id="btnPrintWordStd" type="button" class="None" title="Utilisez la combinaison Alt + I pour accéder à la fonctionnalité"><u>I</u>mprimer</button>
                    <button data-accesskey="f" albshortcut="true" id="btnFermerWordStd" type="button" title="Utilisez la combinaison Alt + F pour accéder à la fonctionnalité"><u>F</u>ermer</button>
                    <button data-accesskey="v" albshortcut="true" id="btnValidWordStd" type="button" title="Utilisez la combinaison Alt + V pour accéder à la fonctionnalité"><u>V</u>alider</button>
                    <button data-accesskey="s" albshortcut="true" id="btnValidBlocStd" type="button" title="Utilisez la combinaison Alt + S pour accéder à la fonctionnalité" class="None"><u>S</u>auvegarder</button>

                </div>
            </div>
            <div id="vwClauseBtn" class="GroupFull GroupWithBorder TotalWidth ButtonsHeight None">
                <div class="ActionButtons ActionButtonsSearch ActionButtonRight">
                    <button data-accesskey="o" albshortcut="true" id="btnImportWordCla" type="button" class="None" title="Utilisez la combinaison Alt + O pour accéder à la fonctionnalité">Imp<u>o</u>rter</button>
                    <button data-accesskey="i" albshortcut="true" id="btnPrintWordCla" type="button" class="None" title="Utilisez la combinaison Alt + I pour accéder à la fonctionnalité"><u>I</u>mprimer</button>
                    <button data-accesskey="n" albshortcut="true" id="btnFermerWordCla" type="button" title="Utilisez la combinaison Alt + N pour accéder à la fonctionnalité">A<u>n</u>nuler</button>
                    <button data-accesskey="v" albshortcut="true" id="btnValidWordCla" type="button" class="None" title="Utilisez la combinaison Alt + V pour accéder à la fonctionnalité"><u>V</u>alider</button>
                    <button data-accesskey="s" albshortcut="true" id="btnValidBlocCla" type="button" title="Utilisez la combinaison Alt + S pour accéder à la fonctionnalité" class="None"><u>S</u>auvegarder</button>
                    @Html.Hidden("IdSessionClause", string.Empty)
                </div>
            </div>
            <iframe id="WordContainerIFrame" width="100%" height="630px" scrolling="no" frameborder="0" align="left" marginwidth="0px " z-index="61" background-color="Gray" marginheight="0px" src=""></iframe>
            <iframe id="MagneticIframe" width="100%" height="640" scrolling="no" frameborder="0" align="left" marginwidth="0px " z-index="61" background-color="Gray" marginheight="0px" src=""></iframe>
        </div>

    </div>
</body>
</html>
