@model ALBINGIA.OP.OP_MVC.Models.ModelesPages.ModeleAttentatPage

@Html.Hidden("valueInput", string.Empty)
@Html.Hidden("fieldInput", string.Empty)

<div class="nGroupFull nGroupWithBorder">
    @*<div class="GroupTitle">
            Engagements Attentats / GAREAT
        </div>*@
    <div class="nHorizontalFullWithGroup">
        <div class="nGradientSection">
            <div class="HeightRow">
                <div class="GenericColumn">
                    <div class="FloatLeft PaddingLeft">
                        Informations contrat
                    </div>
                </div>
            </div>
            <div class="HeightRow">
                <div class="GenericColumn">
                    <div class="FloatLeft">
                        <label class="Block">LCI (€)</label>
                    </div>
                    <div class="FloatLeft">
                        <input type="text" id="LCI" name="LCI" value="@(Model.LCI)" readonly="readonly" class="readonly numerique" albMask="decimal" />
                    </div>
                </div>
                <div class="GenericColumn">
                    <div class="FloatLeft">
                        <label class="Block">Capitaux (€)</label>
                    </div>
                    <div class="FloatLeft">
                        <input type="text" id="Capitaux" name="Capitaux" value="@(Model.Capitaux)" readonly="readonly" class="readonly numerique" albMask="decimal" />
                    </div>
                </div>
                <div class="GenericColumn">
                    <div class="FloatLeft">
                        <label class="Block">Surface (m²)</label>
                    </div>
                    <div class="Floatleft">
                        <input type="text" id="Surface" name="Surface" value="@(Model.Surface)" readonly="readonly" class="readonly numerique" albMask="decimal" />
                    </div>
                </div>
                <div class="GenericColumn">
                    <div class="FloatLeft">
                        <label class="Block">Base CATNAT</label>
                    </div>
                    <div class="Floatleft">
                        <input type="text" id="CATNAT" name="CATNAT" value="@(Model.CATNAT)" readonly="readonly" class="readonly numerique" albMask="decimal" />
                    </div>
                </div>
            </div>
            <div class="HeightRow">
                <div class="GenericColumn">
                    &nbsp;
                </div>
                <div class="GenericColumn">
                    <div class="FloatLeft">
                        <label class="Block">Capitaux forcés (€)</label>
                    </div>
                    <div class="FloatLeft">
                        <input type="text" id="CapitauxForces" name="CapitauxForces" value="@(Model.CapitauxForces)" class="numerique NonReprisCP" albMask="decimal" />
                    </div>
                </div>
            </div>
        </div>
        <div class="nGradientSection HeightParam">
            <div class="HeightRow">
                <div class="FloatLeft">
                    <label id="LibConstruit">@(Model.LibelleConstruit)</label>
                </div>
            </div>
            <div class="FloatLeft">
                @Html.Partial("AttentatParametre", Model.ParamStandard)
            </div>
            <div class="FloatLeft">
                @Html.Partial("AttentatParametre", Model.ParamRetenus)
            </div>
        </div>
    </div>
</div>
<div class="GroupFull GroupWithBorder ButtonsHeight">

    <div id="divCommentForce" class="FloatLeft dvCommentForce">
        @Html.Hidden("MontantForce", Model.MontantForce ? 1 : 0)
        <div class="FloatLeft">
            <label class="Block">Commentaires</label>
        </div>
        <div id="zoneTxtArea" class="FloatLeft divTextArea ZoneTextAreaWidth NonReprisCP" albcontext="CommentForce">@Html.Raw(!string.IsNullOrEmpty(Model.CommentForce) ? Model.CommentForce.Replace("</p><p>", "<br/>").Replace("<p>", "").Replace("</p>", "") : string.Empty)</div>
        <div id="txtAreaLnk" name="txtAreaLnk" class="FloatLeft CursorPointer" albcontext="CommentForce">
            <img src="@Url.Content("/Content/Images/moreinfo.png")" width="22" height="22" />
        </div>
        <div id="txtArea" albcontext="CommentForce" class="TextAreaLeft">
            <div class="FloatLeft">
                @if (Model.IsReadOnly) {
                    <div id="CommentForce" style="width: 385px; height: 50px; border: 1px solid #cdcdcd; color: #cdcdcd; background-color: white; overflow-y: auto;">@Html.Raw(Model.CommentForce)</div>
                }
                else {
                    <textarea id="CommentForce" name="CommentForce" class="" style="margin-bottom: 5px; width: 357px;" tabindex="6">@Model.CommentForce</textarea>
                }
            </div>
        </div>
    </div>
    <div class="ActionButtonsComment ActionButtonRight">
        @*<div class="ActionButtonsComment ActionButtonLeft">*@
        @if (Model.IsReadOnly) {
            <div id="divReset" class="FloatLeft" style="margin-top: -4px;">
                <img id="btnReset" src="@Url.Content("/Content/Images/reset_formgris32.png")" alt="RAZ" title="RAZ" />
            </div>
        }
        else {
            <div id="divReset" class="FloatLeft CursorPointer" style="margin-top: -4px;">
                <img id="btnReset" src="@Url.Content("/Content/Images/reset_form32.png")" alt="RAZ" title="RAZ" />
            </div>
        }
        <div id="divRefresh" class="FloatLeft PaddingLeft" style="margin-top: -4px;">
            <img id="btnRefresh" src="@Url.Content("/Content/Images/boutonRefresh_gris3232.png")" alt="Rechargement" title="Rechargement" />
        </div>
        @*    </div>*@
        <button id="btnAnnuler" type="button" albshortcut="true" data-accesskey="a" tabindex="29"><u>A</u>nnuler</button>
        <button id="btnSuivant" type="button" albshortcut="true" data-accesskey="s" tabindex28><u>S</u>uivant</button>
    </div>
</div>
