@model ALBINGIA.OP.OP_MVC.Models.ModelesParamClause.ParamAjoutActeGestion
<div class="CommonForm FloatLeft" style="width: 450px;">
    <div class="GroupFull GroupWithBorder" style="width: 435px;">
        <div class="GroupTitle">
            @Html.Hidden("ParamType", "ActeGestion")
            @Html.HiddenFor(m => m.CodeService)
            Affectation acte de gestion de @Model.LibelleService</div>
        <div class="HorizontalFullWithGroup" style="width: 430px;">
            <div class="GradientSection" style="height: 200px;">
                <div class="HeightRow">
                    <div class="DoubleGenericColumn">
                        <div class="FloatLeft">
                            <label class="Block">Service</label>
                        </div>
                        <div class="FloatLeft">
                            <input type="text" id="Service" name="Service" value="@(Model.CodeService) - @(Model.LibelleService)" readonly="readonly" class="readonly WidthInput" />
                        </div>
                    </div>
                </div>
                <div class="HeightRow">
                    <div class="DoubleGenericColumn">
                        <div class="FloatLeft">
                            <label class="Block">Acte de gestion</label>
                        </div>
                        <div class="FloatLeft">
                            @Html.AlbDropDownListFor(m => m.ActeGestion, Model.ActesGestion, "ActeGestion", htmlAttributes: new { @id = "ActeGestionDdl",@class="WidthInput" }, generateTitle:true)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="GroupFull GroupWithBorder ButtonsHeight" style="width: 435px;">
        <div id="LoadingDiv" class="FloatLeft">
            <img src="/Content/Images/ajax-loader.gif" alt="" />
        </div>
        <div class="ActionButtons ActionButtonRight">
            <input type="button" id="btnFancyValider" value="Valider" tabindex="29" />
            <input type="button" id="btnFancyAnnuler" value="Annuler" tabindex="30" />
        </div>
    </div>
</div>
