@model ALBINGIA.OP.OP_MVC.Models.ModelesLogTrace.LogParamCibleRecupModel

<tr>
    <td title="@Model.NumOffrePolice" >@Model.NumOffrePolice</td>
     <td title="@Model.TypeOffrePolice">@Model.TypeOffrePolice</td>
     <td title="@Model.NumAliment" >@Model.NumAliment</td>
     <td title="@Model.NumAvenant" >@Model.NumAvenant</td>
     <td title="@Model.CodeSituation" >@Model.CodeSituation</td>
     <td title="@Model.DateSituation" >@Model.DateSituation</td>
     <td title="@Model.NumHisto" >@Model.NumHisto</td>
     <td title="@Model.NumTravail" >@Model.NumTravail</td>
    <td title="@Model.IdObjet" >@Model.IdObjet</td>
     <td title="@Model.IdRisque" >@Model.IdRisque</td>
     <td title="@Model.CommentaireSituation" >@Model.CommentaireSituation</td>
     <td title="@Model.UserSituation" >@Model.UserSituation</td>
    <td title="@Model.OptionRecuperation" >@Model.OptionRecuperation</td>
</tr>
