@model ALBINGIA.OP.OP_MVC.Models.ModeleStatisque.StatClausesLibreModel
<td class="tdDelegationUser " title="@Model.DelegationUser" name="clickableCol">@Model.DelegationUser </td>
<td class="tdCreateUser " title="@Model.CreateUser" name="clickableCol">@Model.CreateUser</td>
<td class="tdDateCreation" title="@Model.DateCreation" name="clickableCol">@Model.DateCreation</td>
<td class="tdDateSaisie" title="@Model.DateSaisie" name="clickableCol">@Model.DateSaisie</td>
<td class="tdNumPolice " title="@Model.NumPolice" name="clickableCol">@Model.NumPolice</td>
<td class="tdVersion" title="@Model.Version" name="clickableCol">@Model.Version</td>
<td class="tdCodeCourtier" title="@Model.CodeCourtier" name="clickableCol">>@Model.CodeCourtier</td>
<td class="tdNomCourtier" title="@Model.NomCourtier" name="clickableCol">@Model.NomCourtier></td>
<td class="tdDelegationCourtier " title="@Model.DelegationCourtier" name="clickableCol">@Model.DelegationCourtier</td>
<td class="tdCodePreneurass " title="@Model.CodePreneurass" name="clickableCol">@Model.CodePreneurass  </td>
<td class="tdNomPreneurass " title="@Model.NomPreneurass" name="clickableCol">@Model.NomPreneurass</td>
<td class="tdSouscripteur " title="@Model.Souscripteur" name="clickableCol">@Model.Souscripteur</td>





